@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Comfortaa:wght@300;500;700&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body{
	font-family: 'Brygada 1918', serif;
	line-height: 1.65;
	width: 100%;
	text-align: justify;
	/* min-height: 100%; */
	/* margin: 0 auto 0; */
}

#heading{
	font-family: 'Pattaya', sans-serif;
	font-size: 60px;
	text-align: center;
	color: #6b705c;
	padding: 70px;
}

.h2-little-prince{
	font-family: 'Comfortaa', cursive;
	font-size: 30px;
	text-align: center;
	color: #a5a58d;
	padding: 20px 0;
}
.summary-item{
	display: inline-block;
	color: #9e9e7f;
	text-decoration: underline;
	font-family: 'Comfortaa', cursive;
	margin: 0 45px 0;
}
div.intoduction-block{
	max-width: 80%;
	margin: 0 auto 0;
	padding-top: 75px
}
div.introduction{
	max-width: 60%;
	/* line-height: 1.6; */
	/* padding-top: 75px; */
   margin: auto;
   display: inline-block;
	/* text-align: justify; */
}

.img-litle-prince{
	height: 400px;
	width: 400px;
	/* margin: 50px 20px 0 20px ; */
}
.p-little-prince{
	text-indent:50px;
	/* padding-left: 35px; */
}
.paralel-box{
	max-width: 90%;
	margin: 0 auto 0;
	/* max-height: 412px; */
	
}
div.history{
	max-width: 45%;
	margin: 0 0 0 75px;
	display: inline-block;
	/* text-align: justify; */
}
div.plot{
	max-width: 45%;
	max-height: 440px;
	padding: 0 0 0 50px;
	display: inline-block;
	overflow: auto;
	/* text-align: justify; */
}
.a-little-prince{
	text-decoration: underline;
	color: rgb(33, 66, 33);
}

.h4-little-prince{
	color: #b7b7a4;
	font-size: 25px;
	text-align: center;
	/* padding-top: 1%; */
}

div.translation,
div.prototypes,
div.screening
{
	max-width: 80%;
	margin: 0 auto 0;
}
div.translation span{
	display: block;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	padding: 1% 0 2% 0;
}

.publications-list{
	display: inline-block;
	padding: 0 45px 20px;

}
.center {  
	text-align: center;  
	}  

.image-block{
	width: 60%;
	/* height: 60%; */
	margin: 1.5% 0;
	
}
footer{
	text-align: center;
	margin-bottom: 2.5%;
}
/* ================Article style================================ */
.article{
	/* height: 1594px; */
	width: 810px;
	padding: 203px 765px 0 345px;
	font-family: 'Lato', sans-serif;
	

}
.article-h1{
	font-weight: 900;
	font-size: 46px;
	margin: 203px 0 101px;
}
.article-image{
	margin-bottom: 70px;
}

.article-p{
	text-indent: 0 
}
.bold-paragraph{
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 24px;
}
.ordinar-font{
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
.second-paragraf{
	margin-bottom: 35px;
}
.third-paragraph{
	margin-bottom: 55px;
}
.article-quote{
	padding-left: 58px;
	margin: 55px 0;
}
.list{
	line-height: 1.6;
	margin: 36px 0 36px 37px;
}
.list-items{
	margin-bottom: 4px;
}
